*.d
*.o
*.so
*~
*.swp
*.deb
*.rpm
*.tar.xz
*.gcda
*.gcno
*.gz
*.DS_Store
.directory
.vscode
/firejail-*/
autom4te.cache/
config.log
config.mk
config.sh
config.status
contrib/syntax/files/example
contrib/syntax/files/firejail-profile.lang
contrib/syntax/files/firejail.vim
src/fnettrace-dns/fnettrace-dns
src/fnettrace-sni/fnettrace-sni
src/fnettrace-icmp/fnettrace-icmp
src/firejail/firejail
src/firemon/firemon
src/firecfg/firecfg
src/ftee/ftee
src/fids/fids
src/tags
src/faudit/faudit
src/fnet/fnet
src/fnetfilter/fnetfilter
src/fsec-print/fsec-print
src/fseccomp/fseccomp
src/fsec-optimize/fsec-optimize
src/fcopy/fcopy
src/fldd/fldd
src/fbuilder/fbuilder
src/profstats/profstats
src/etc-cleanup/etc-cleanup
src/bash_completion/firejail.bash_completion
src/zsh_completion/_firejail
src/jailcheck/jailcheck
src/fnettrace/fnettrace
src/fnetlock/fnetlock
src/fzenity/fzenity
uids.h
seccomp
seccomp.debug
seccomp.32
seccomp.64
seccomp.block_secondary
seccomp.mdwx
seccomp.mdwx.32
seccomp.namespaces
seccomp.namespaces.32
aclocal.m4
__pycache__
*.pyc
*.pyo
src/fnettrace/static-ip-map
src/man/*.1
src/man/*.5
