*.o
*.so
*~
*.swp
*.rpm
*.gcda
*.gcno
Makefile
config.log
config.status
firejail-login.5
firejail-profile.5
firejail-config.5
firejail.1
firemon.1
firecfg.1
src/firejail/firejail
src/firemon/firemon
src/firecfg/firecfg
src/ftee/ftee
src/tags
src/faudit/faudit
src/fnet/fnet
src/fseccomp/fseccomp
src/fcopy/fcopy
uids.h
seccomp
seccomp.debug
seccomp.i386
seccomp.amd64

