*.o
*.so
*~
*.swp
*.deb
*.rpm
*.gcda
*.gcno
*.DS_Store
.directory
*.man
.vscode
Makefile
autom4te.cache/
config.log
config.status
firejail-*.tar.xz
firejail-login.5
firejail-profile.5
firejail-config.5
firejail-users.5
firejail.1
firemon.1
firecfg.1
jailtest.5
mkdeb.sh
src/firejail/firejail
src/firemon/firemon
src/firecfg/firecfg
src/ftee/ftee
src/tags
src/faudit/faudit
src/fnet/fnet
src/fnetfilter/fnetfilter
src/fsec-print/fsec-print
src/fseccomp/fseccomp
src/fsec-optimize/fsec-optimize
src/fcopy/fcopy
src/fldd/fldd
src/fbuilder/fbuilder
src/profstats/profstats
src/bash_completion/firejail.bash_completion
src/zsh_completion/_firejail
src/jailtest/jailtest
uids.h
seccomp
seccomp.debug
seccomp.32
seccomp.64
seccomp.block_secondary
seccomp.mdwx
seccomp.mdwx.32
src/common.mk
aclocal.m4
__pycache__
*.pyc
*.pyo
