# /usr/lib/firejail/firecfg.config - firecfg utility configuration file
# This is the list of programs in alphabetical order handled by firecfg utility
#
#qemu-system-x86_64
0ad
2048-qt
Builder
Cheese
Cryptocat
Cyberfox
Discord
DiscordCanary
Documents
FossaMail
Fritzing
Gitter
JDownloader
Logs
Maelstrom
Maps
Mathematica
Natron
QMediathekView
QOwnNotes
Telegram
Viber
VirtualBox
XMind
Xephyr
abrowser
akonadi_control
akregator
amarok
amule
android-studio
anydesk
apktool
arch-audit
archaudit-report
ardour4
ardour5
arduino
aria2c
ark
arm
artha
assogiate
asunder
# atom
# atom-beta
atool
atril
atril-previewer
atril-thumbnailer
audacious
audacity
authenticator
autokey-gtk
autokey-qt
autokey-run
autokey-shell
aweather
baloo_file
baloo_filemetadata_temp_extractor
baobab
basilisk
beaker
bibletime
bitcoin-qt
bitlbee
bitwarden
bleachbit
blender
blender-2.8
bless
bluefish
bnox
brackets
brasero
brave
brave-browser
bunzip2
bzflag
bzip2
calibre
calligra
calligraauthor
calligraconverter
calligraflow
calligraplan
calligraplanwork
calligrasheets
calligrastage
calligrawords
cantata
catfish
celluloid
checkbashisms
cheese
cherrytree
chromium
chromium-browser
cin
cinelerra
clamdscan
clamdtop
clamscan
clamtk
claws-mail
clawsker
clementine
clion
clipit
cliqz
clocks
cmus
code
code-oss
conkeror
conky
corebird
crawl
crawl-tiles
crow
cryptocat
cvlc
cyberfox
darktable
dconf-editor
deadbeef
deluge
devhelp
dex2jar
dia
digikam
dillo
dino
discord
discord-canary
display
dnox
dnscrypt-proxy
dnsmasq
dolphin
dooble
dooble-qt4
dosbox
dragon
dropbox
d-feet
easystroke
ebook-viewer
electrum
elinks
empathy
enchant
enchant-2
enchant-lsmod
enchant-lsmod-2
engrampa
enox
enpass
eog
eom
epiphany
etr
evince
evince-previewer
evince-thumbnailer
evolution
exfalso
exiftool
falkon
fbreader
feedreader
feh
ffmpeg
ffmpegthumbnailer
ffplay
ffprobe
file-roller
filezilla
firefox
firefox-beta
firefox-developer-edition
firefox-esr
firefox-nightly
firefox-wayland
flacsplt
flameshot
flashpeak-slimjet
flowblade
font-manager
fontforge
fossamail
franz
freecad
freecadcmd
freeciv
freeciv-gtk3
freeciv-mp-gtk3
freecol
freemind
freeoffice-planmaker
freeoffice-presentations
freeoffice-textmaker
freshclam
frozen-bubble
gajim
gajim-history-manager
galculator
gcalccmd
gcloud
gconf-editor
geany
geary
gedit
geekbench
geeqie
ghb
ghostwriter
gimp
gimp-2.10
gimp-2.8
gitg
github-desktop
gitter
gjs
globaltime
gnome-2048
gnome-books
gnome-builder
gnome-calculator
gnome-chess
gnome-clocks
gnome-contacts
gnome-documents
gnome-font-viewer
gnome-logs
gnome-maps
gnome-mplayer
gnome-mpv
gnome-music
gnome-nettool
gnome-photos
gnome-recipes
gnome-schedule
gnome-system-log
gnome-twitch
gnome-weather
godot
goobox
google-chrome
google-chrome-beta
google-chrome-stable
google-chrome-unstable
google-earth
google-earth-pro
google-play-music-desktop-player
gpa
gpicview
gpredict
gradio
gramps
gthumb
guayadeque
gucharmap
gwenview
handbrake
handbrake-gtk
hashcat
hedgewars
hexchat
highlight
hugin
icecat
icedove
iceweasel
idea
ideaIC
idea.sh
imagej
img2txt
inkscape
inkview
inox
iridium
iridium-browser
jd-gui
jdownloader
jitsi
k3b
kaffeine
karbon
kate
kcalc
# kdeinit4
kdenlive
keepass
keepass2
keepassx
keepassx2
keepassxc
keepassxc-cli
keepassxc-proxy
kget
kid3
kid3-cli
kid3-qt
kino
klatexformula
klatexformula_cmdl
klavaro
kmail
knotes
kodi
konversation
kopete
krita
# krunner
ktorrent
ktouch
# kwin_x11
kwrite
leafpad
less
libreoffice
liferea
lincity-ng
links
linphone
lmms
lobase
localc
lodraw
loffice
lofromtemplate
loimpress
lollypop
lomath
loweb
lowriter
lrunzip
lrz
lrzcat
lrzip
lrztar
lrzuntar
luminance-hdr
lximage-qt
lxmusic
lynx
macrofusion
manaplus
masterpdfeditor
masterpdfeditor4
masterpdfeditor5
mate-calc
mate-calculator
mate-color-select
mate-dictionary
mathematica
mcabber
mediainfo
mediathekview
megaglest
megaglest_editor
meld
mencoder
mendeleydesktop
meteo-qt
midori
min
minetest
mousepad
mp3splt
mp3splt-gtk
mp3wrap
mpDris2
mplayer
mpsyt
mpv
ms-excel
ms-office
ms-onenote
ms-outlook
ms-powerpoint
ms-skype
ms-word
multimc5
mumble
mupdf
mupen64plus
musescore
musixmatch
mutt
mypaint
mypaint-ora-thumbnailer
natron
ncdu
netactview
nethack
netsurf
neverball
newsbeuter
newsboat
nheko
nitroshare
nitroshare-cli
nitroshare-nmh
nitroshare-send
nitroshare-ui
nomacs
nylas
nyx
obs
ocenaudio
odt2txt
oggsplt
okular
onionshare-gui
open-invaders
openarena
opencity
openshot
openshot-qt
openttd
opera
opera-beta
orage
ostrichriders
palemoon
pandoc
parole
patch
pavucontrol
pdfchain
pdfmod
pdfsam
pdftotext
peek
picard
pidgin
#ping - disabled until we fix  #1912
pingus
pinta
pioneer
pithos
pitivi
pix
playonlinux
pluma
polari
ppsspp
pragha
psi-plus
pybitmessage
# pycharm-community - FB note: may enable later
# pycharm-professional
qbittorrent
qemu-launcher
qgis
qlipper
qmmp
qpdfview
qt-faststart
qtox
quassel
quiterss
qupzilla
qutebrowser
rambox
redeclipse
redshift
regextester
remmina
rhythmbox
ricochet
riot-desktop
riot-web
ristretto
rocketchat
rtorrent
runenpass.sh
sayonara
scallion
scorched3d
scribus
sdat2img
seahorse
seahorse-daemon
seahorse-tool
seamonkey
seamonkey-bin
secret-tool
shellcheck
shotcut
signal-desktop
silentarmy
simple-scan
simplescreenrecorder
simutrans
skanlite
skype
skypeforlinux
slack
slashem
smplayer
smtube
snox
soffice
sol
soundconverter
spotify
sqlitebrowser
ssh
# ssh-agent - problems on Arch with Fish shell (#1568)
standardnotes-desktop
start-tor-browser
steam
steam-native
stellarium
strings
studio.sh
subdownloader
supertux2
supertuxkart
surf
sylpheed
synfigstudio
sysprof
sysprof-cli
teams-for-linux
teamspeak3
teeworlds
telegram
telegram-desktop
terasology
thunderbird
thunderbird-beta
thunderbird-wayland
tilp
tor-browser-ar
tor-browser-ca
tor-browser-cs
tor-browser-da
tor-browser-de
tor-browser-el
tor-browser-en
tor-browser-en-us
tor-browser-es
tor-browser-es-es
tor-browser-fa
tor-browser-fr
tor-browser-ga-ie
tor-browser-he
tor-browser-hu
tor-browser-id
tor-browser-is
tor-browser-it
tor-browser-ja
tor-browser-ka
tor-browser-ko
tor-browser-nb
tor-browser-nl
tor-browser-pl
tor-browser-pt-br
tor-browser-ru
tor-browser-sv-se
tor-browser-tr
tor-browser-vi
tor-browser-zh-cn
tor-browser-zh-tw
torbrowser-launcher
torcs
totem
tracker
transgui
transmission-cli
transmission-create
transmission-daemon
transmission-edit
transmission-gtk
transmission-qt
transmission-remote
transmission-remote-cli
transmission-remote-gtk
transmission-show
tremulous
truecraft
tshark
tuxguitar
uefitool
uget-gtk
unbound
unknown-horizons
utox
uudeview
uzbl-browser
viewnior
viking
virtualbox
vivaldi
vivaldi-beta
vivaldi-snapshot
vivaldi-stable
vlc
vscodium
vulturesclaw
vultureseye
vym
w3m
warsow
warzone2100
waterfox
webstorm
weechat
weechat-curses
wesnoth
wget
whois
widelands
wine
wire-desktop
wireshark
wireshark-gtk
wireshark-qt
xcalc
xchat
xed
xfburn
xfce4-dict
xfce4-mixer
xfce4-notes
xiphos
xlinks
xmms
xmr-stak
xonotic
xonotic-glx
xonotic-sdl
xpdf
xplayer
xplayer-audio-preview
xplayer-video-thumbnailer
xpra
xreader
xreader-previewer
xreader-thumbnailer
xviewer
yandex-browser
yelp
youtube-dl
zaproxy
zart
zathura
zoom
zpaq
