# /usr/lib/firejail/firecfg.config - firecfg utility configuration file
# This is the list of programs handled by firecfg utility
#

# astronomy
gpredict
stellarium

# bittorrent/ftp
deluge
dropbox
filezilla
qbittorrent
rtorrent
transmission-gtk
transmission-qt
transmission-cli
transmission-show
uget-gtk

# browsers/email
abrowser
brave
chromium
chromium-browser
claws-mail
conkeror
cyberfox
firefox
firefox-esr
flashpeak-slimjet
epiphany
dillo
google-chrome
google-chrome-beta
google-chrome-stable
google-chrome-unstable
iceweasel
icecat
icedove
kmail
midori
mutt
netsurf
opera-beta
opera
palemoon
qutebrowser
start-tor-browser
seamonkey
seamonkey-bin
thunderbird
vivaldi-beta
vivaldi
evolution
elinks
lynx
w3m

# chat/messaging
bitlbee
corebird
# Cryptocat is added but commented since isn't installed to a */bin... keep an eye on this
empathy
gitter
hexchat
jitsi
konversation
pidgin
polari
psi-plus
qtox
quassel
skype
telegram
weechat
weechat-curses
wire
xchat

# dns
dnscrypt-proxy
dnsmaq
unbound

# emulators/compatibility layers
mupen64plus
wine
dosbox
virtualbox
qemu-launcher
qemu-system-x86_64

# games
0ad
gnome-chess
hedgewars
steam
wesnot
warzone2100

# Media
amarok
audacious
audacity
bleachbit
brasero
clementine
cmus
deadbeef
display
dolphin
dragon
exiftool
feh
gjs
gnome-books
gnome-clocks
gnome-documents
gnome-maps
gnome-mplayer
gnome-music
goobox
google-play-music-desktop-player
img2txt
k3b
mediainfo
mpv
nautilus
parole
rhythmbox
simple-scan
skanlite
spotify
totem
vlc
xfburn
xplayer
xviewer
eom

# news readers
quiterss

# office
atril
cherrytree
evince
fbreader
gedit
gimp
gthumb
gwenview
highlight
inkscape
kate
libreoffice
localc
lodraw
loffice
lofromtemplate
loimpress
lomath
loweb
lowriter
luminance-hdr
mupdf
qpdfview
soffice
synfigstudio
Mathematica
mathematica
odt2txt
okular
pdftotext
pix
xpdf
xreader
zathura
openshot
flowblade
eog

# other
atom
atom-beta
ranger
keepass
keepass2
keepassx
keepassx2
pluma
tracker
wireshark
xiphos
xed

# weather/climate
aweather
gnome-weather

# compressing tools
ark
atool
file-roller
