# /usr/lib/firejail/firecfg.config - firecfg utility configuration file
# This is the list of programs handled by firecfg utility
#

# browsers/email
firefox
iceweasel
chromium-browser
chromium
conkeror
thunderbird
epiphany
flashpeak-slimjet
google-chrome-beta
google-chrome-stable
google-chrome-unstable
google-chrome
icecat
icedove
kmail
midori
opera-beta
opera
qutebrowser
seamonkey
seamonkey-bin
vivaldi-beta
vivaldi
dillo
netsurf

# bittorrent/ftp
deluge
filezilla
qbittorrent
rtorrent
transmission-gtk
transmission-qt

# office
cherrytree
evince
fbreader
localc
lodraw
loffice
lofromtemplate
loimpress
lomath
loweb
lowriter
Mathematica
mathematica

# Media
vlc
audacious
clementine
deadbeef
parole
rhythmbox
totem
cmus

# chat/messaging
bitlbee
empathy
gnome-mplayer
hexchat
pidgin
qtox
quassel
xchat

# games
hedgewars
wesnot
warzone2100
