# This is Firejail system-wide configuration file, see firejail-config(5) for
# more information. The file contains keyword-argument pairs, one per line.
# Most features are enabled by default. Use 'yes' or 'no' as configuration
# values.

# Enable or disable seccomp support, default enabled.
# seccomp yes

# Enable or disable chroot support, default enabled.
# chroot yes

# Enable or disable bind support, default enabled.
# bind yes

# Enable or disable networking features, default enabled.
# network yes

# Enable or disable restricted network support, default disabled. If enabled,
# networking features (network yes) above should also be enabled.
# restricted-network no

# Enable or disable user namespace support, default enabled.
# userns yes

# Enable or disable X11 sandboxing support, default enabled.
# x11 yes

# Enable or disable file transfer support, default enabled.
# file-transfer yes

