# Lints and checks for potential issues in Python files.

name: Check-Python

on:
  push:
    paths:
      - '**.py'
      - .github/workflows/check-python.yml
  pull_request:
    paths:
      - '**.py'
      - .github/workflows/check-python.yml
  schedule:
    - cron: '0 7 * * 2'

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  codeql-python:
    permissions:
      actions: read
      contents: read
      security-events: write
    runs-on: ubuntu-latest

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          api.github.com:443
          files.pythonhosted.org:443
          github.com:443
          objects.githubusercontent.com:443
          pypi.org:443
          uploads.github.com:443

    - name: Checkout repository
      uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9

    - name: print env
      run: ./ci/printenv.sh

    # Initializes the CodeQL tools for scanning.
    - name: Initialize CodeQL
      uses: github/codeql-action/init@a09933a12a80f87b87005513f0abb1494c27a716
      with:
        languages: python

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@a09933a12a80f87b87005513f0abb1494c27a716
