# Lints and checks for potential issues in the profiles.

name: Check-Profiles

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - 'dependabot/**'
    paths:
      - 'ci/check/profiles/**'
      - 'etc/**'
      - .github/workflows/check-profiles.yml
      - ci/printenv.sh
      - contrib/sort.py
      - src/firecfg/firecfg.config
  pull_request:
    paths:
      - 'ci/check/profiles/**'
      - 'etc/**'
      - .github/workflows/check-profiles.yml
      - ci/printenv.sh
      - contrib/sort.py
      - src/firecfg/firecfg.config

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  profile-checks:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@5c7944e73c4c2a096b17a9cb74d65b6c2bbafbde
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          github.com:443

    - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938
    - name: print env
      run: ./ci/printenv.sh
    - run: python3 --version

    - name: sort.py
      run: >
        ./ci/check/profiles/sort.py
        etc/inc/*.inc etc/{profile-a-l,profile-m-z}/*.profile
# Currently broken (see #5610)
#   - name: private-etc-always-required.sh
#     run: >
#       ./ci/check/profiles/private-etc-always-required.sh
#       etc/inc/*.inc etc/{profile-a-l,profile-m-z}/*.profile
    - name: sort-disable-programs.sh
      run: >
        ./ci/check/profiles/sort-disable-programs.sh
        etc/inc/disable-programs.inc
    - name: sort-firecfg.config.sh
      run: >
        ./ci/check/profiles/sort-firecfg.config.sh
        src/firecfg/firecfg.config
