# Lints and checks for potential issues in Python files.

name: Check-Python

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - 'dependabot/**'
    paths:
      - '**.py'
      - .github/workflows/check-python.yml
  pull_request:
    paths:
      - '**.py'
      - .github/workflows/check-python.yml
  schedule:
    - cron: '0 7 * * 2'

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  codeql-python:
    permissions:
      actions: read
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          api.github.com:443
          files.pythonhosted.org:443
          github.com:443
          objects.githubusercontent.com:443
          pypi.org:443
          release-assets.githubusercontent.com:443
          uploads.github.com:443

    - name: Checkout repository
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

    - name: print env
      run: ./ci/printenv.sh

    # Initializes the CodeQL tools for scanning.
    - name: Initialize CodeQL
      uses: github/codeql-action/init@0499de31b99561a6d14a36a5f662c2a54f91beee
      with:
        languages: python

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@0499de31b99561a6d14a36a5f662c2a54f91beee
